
#cabecario {
    background-color: rgb(23, 135, 57);
    color: white;
    padding: 2px;
    
}

#titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

.section1 {

   
}

.main {
    background-color: rgb(253, 251, 251);
}